
block content
    <link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="font-awesome/css/font-awesome.min.css" />
    link(rel='stylesheet', href='/stylesheets/style.css')
    <script type="text/javascript" src="js/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>
    <script src="/javascripts/main.js"> </script>
    <div class="container">
        <select class="custom-select language-select" style="height: 40px;" name="Language" id="language" required>
            <option value="">Select Language</option>
            <option value="en">English</option>
            <option value="fr">French</option>
        </select> 
        <br />
        <br />
        <br />

        <div class="alert alert-warning alert-dismissible" role="alert">#{language.heading}
        </div>

        <br />
        <h3 class="faq">#{language.section1.heading} </h3>
        <ul class="info">
            <li> #{language.section1.item1}
            
            </li>
            <li> #{language.section1.item2}
            </li>
            <li> #{language.section1.item3}
            </li>
            <li> #{language.section1.item4} <a  target="_blank" href="https://trello.com/b/2sJcvyaw/shopiloccom"> Trello Board</a> 
            </li>
            <li> #{language.section1.item5}

            </li>
        </ul>
        <h3 class="faq"> #{language.section2.heading}</h3>
        <ul class="info">
            <li> - #{language.section2.item1}</li>
            <span>(#{language.section2.label})</span>
        </ul>
        <h3>#{language.section3.heading}</h3>
        <ul>
            <li>#{language.section3.item1}
            </li>
            <li>#{language.section3.item2}
            </li>
            <li>#{language.section3.item3}
            </li>
        </ul>
        <div class="panel-group" id="accordion">
            <div class="faqHeader">#{language.section4.heading}</div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">#{language.section4.question.question1}</a>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in">
                    <div class="panel-body">#{language.section4.question.answer1}
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTen">#{language.section4.question.question2}
                        </a>
                    </h4>
                </div>
                <div id="collapseTen" class="panel-collapse collapse">
                    <div class="panel-body">#{language.section4.question.answer2}
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseEleven">#{language.section4.question.question3}</a>
                    </h4>
                </div>
                <div id="collapseEleven" class="panel-collapse collapse">
                    <div class="panel-body">#{language.section4.question.answer3}
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">#{language.section4.question.question4}</a>
                    </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse">
                    <div class="panel-body">#{language.section4.question.answer4}

                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">#{language.section4.question.question5}</a>
                    </h4>
                </div>
                <div id="collapseThree" class="panel-collapse collapse">
                    <div class="panel-body">#{language.section4.question.answer5}
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFive">#{language.section4.question.question6}</a>
                    </h4>
                </div>
                <div id="collapseFive" class="panel-collapse collapse">
                    <div class="panel-body">#{language.section4.question.answer6}
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSix">#{language.section4.question.question7}</a>
                    </h4>
                </div>
                <div id="collapseSix" class="panel-collapse collapse">
                    <div class="panel-body">#{language.section4.question.answer7}
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseEight">#{language.section4.question.question8}</a>
                    </h4>
                </div>
                <div id="collapseEight" class="panel-collapse collapse">
                    <div class="panel-body">#{language.section4.question.answer8}
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseNine">#{language.section4.question.question9}</a>
                    </h4>
                </div>
                <div id="collapseNine" class="panel-collapse collapse">
                    <div class="panel-body">#{language.section4.question.answer9}
                    </div>
                </div>
            </div>

            
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven">#{language.section4.question.question10}</a>
                    </h4>
                </div>
                <div id="collapseSeven" class="panel-collapse collapse">
                    <div class="panel-body">#{language.section4.question.answer10}
                    </div>
                </div>
            </div>
        </div>
    </div>


