extends layout

block content
    link(rel='stylesheet', href='/stylesheets/table.css')
    link(rel='stylesheet', href='/stylesheets/admin-custom.css')
    
    <div class="container">
        
        <div class="row">
            <div  class="col-md-4">
                <div class="card hovercard">
                   
                    <div class="avatar">
                        <img alt="" src="/#{user.profile_picture}">
                    </div>
                    <div class="info">
                        <div class="title">
                            <a target="_blank">#{user.first_name}  #{user.last_name}</a>
                        </div>
                        if(user.role == "admin")
                            <div class="desc">Admin</div>
                        else    
                            <div class="desc">Store Expert</div>
                        
                        <div class="desc">#{user.access_state}</div>
                        <div class="desc">#{user.country}</div>
                    </div>
                    <div class="bottom">
                        <a class="btn btn-primary" href="/users/logout" >Log out</a>
                    </div>
                </div>
                <div style="padding:  0px 20px;">
                    <h3 >STORE DETAILS</h3>
                    <p>Store List</p>
                    <div style="margin-top: 50px;" class="menu">
                    <h5>Actions</h5>
                    <div class="card" style="width: 18rem;">
                
                        <ul class="list-group list-group-flush">
                            if (user.role == "admin")
                                <li class="list-group-item"><a href="/user/create"><i class="fas fa-user"></i>  Create New Store Expert</li></a>
                                <li class="list-group-item"><a href="/admin/users"><i class="fas fa-user"></i>   Store Experts Details</li></a>
                            <li class="list-group-item"><a href="/"><i class="fas fa-search"></i>  Search</li></a>
                            <li class="list-group-item"><a href="/admin/create"><i class="fas fa-plus"></i>  Create Store</li></a>
                            
                            <li class="list-group-item"><i class="fas fa-minus"></i>  Delete All Stores</li>
                        </ul>
                    </div>
                    <div class="form-group" style="width: 18rem; margin-top: 30px; display:none">
                        <h5>View Options</h5>
                        <select id="inputState" class="form-control">
                            <option selected>View All</option>
                            <option>...</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div style="background: #f4f4f4; padding:  50px 20px;" class="col-md-8">
            <div class="table-wrapper">
                if(store.length > 0)
                    <div class="table-title" style="overflow:scroll">
                        <table class="table table-striped table-hover table-bordered">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>State</th>
                                    <th>Url</th>
                                    <th>Country</th>
                                    
                                    <th>Status</th>
                                    <th>Action</th>
                                    <th>Edit</th>
                                    <th>Delete</th>
                                </tr>
                            </thead>
                            <tbody>
                                each val in store
                                    <tr>
                                        td= val.store_name
                                        td= val.state
                                        td= val.store_url
                                        td= val.country
                                        
                                        if(val.status == "true")
                                            td Active
                                        else
                                            td Inactive  
                                        td
                                            form(action="/store/update", method="post")
                                                input(type="hidden", name="_id", value=val._id)
                                                input(type="hidden", name="status", value=val.status)
                                                button(type="submit").btn.btn-primary Update Status   
                                        //- <td><i class="far fa-edit"></i></td>
                                        td 
                                            form(action="/admin/store", method="get")
                                                input(type="hidden" name="_id", value=val._id)
                                                <button type="submit" class="edit_button"><i class="far fa-edit"></i></button>
                                        td
                                            form(action="/store/delete", method="post")
                                                input(type="hidden", name="_id", value=val._id)
                                                input(type="submit", name="submit",  class="submit hidden")
                                                <a type="submit" class="delete_button"><i class="fas fa-trash-alt"></i></a>  
                                    </tr>                                
                            </tbody>
                        </table>
                    </div>
                else
                    <h2>No Store Found</h2>
            </div>
        </div>
    </div>