extends layout

block content
  <div id="language_modal" class="modal">
   <h2>Bonjour/Welkom</h2>
  <button style="display:none;">
 
  <i class="flag-icon-background flag-icon-us"></i> Flags button</button>
    <div class="form-group flag popup">
      
        <div id="basic_popup"></div>
    </div>
  </div>
  <div class="s01">
    <div class="topnav">
      <a  class="icon" class="toggle" id="menu" >
        <i class="fa fa-bars"></i>
      </a>
      <div id="myLinks">
        <a href="/create" class="btn-search btn btn-primary menu" onclick="mobileView()"> #{language.button.create_store} </a>
        <a href="/about" class="btn-search btn btn-primary btn-secondry menu"> #{language.button.about_button}</a>
      
        <select class="custom-select language-select menu-select" style="display:block; position: relative" name="Language" id="language_mobile" required>
          <option value="">Select Language</option>
          <option value="en">English</option>
          <option value="fr">French</option>
        </select> 
        
      </div>
      
    </div>
    <a href="/create" class="btn-search btn btn-primary create"> #{language.button.create_store} </a>
    <select class="custom-select language-select" name="Language" id="language" required>
      <option value="">Select Language</option>
      <option value="en">English</option>
      <option value="fr">French</option>
    </select> 
    <div class="form-group flag">
        <div id="basic" data-input-name="country"></div>
    </div>
    <form action="/" method="post">
      <fieldset>
        <legend> #{language.legend}  <h6> #{language.legend_placeholder} </h6>
          
        </legend>
        
      </fieldset>
      <div class="inner-form">
        <div class="input-field first-wrap">
          <input id="search" name="postal_code" type="text" required placeholder='#{language.placeholder.postal}' />
        </div>
        <div class="input-field second-wrap">
          <select class="custom-select" name="country_list" id="countries" required>
            <option value="">#{language.placeholder.country_list}</option>
          </select> 
        </div>
        
        <div class="input-field third-wrap">
          <button class="btn-search" type="submit">#{language.button.search_button}</button>
        </div>
      </div>
    </form>
    <a href="/about" class="btn-search btn btn-primary btn-secondry hiden-mobile"> #{language.button.about_button}</a>
  </div>
  if isSearch
    <div class="container" id="results">
    
      if isExist

        <div class="row ">
          <p class="description">#{language.result_success.description1} <span>(
           span= result_count 
          <span> #{language.result_success.description2}</span>
            span= postal_code 
            <span>- #{language.result_success.description3}</span>
          </p>
          <div class="form-group col-md-3">
            //- <label for="inputZip">#{language.label.industry}</label>
            <select id="industry_list" name="industry" required class="form-control options">
              <option value="all">All Industry</option>
              <option value="Arts & Crafts">Arts & Crafts</option>
              <option value="Clothing">Clothing</option>
              <option value="Health & Beauty">Health & Beauty</option>
              <option value="Jewelry">Jewelry</option>
              <option value="Sports & Fitness">Sports & Fitness</option>
              <option value="Home Goods">Home Goods</option>
              <option value="Electronics">Electronics</option>
              <option value="Food & Beverage">Food & Beverage</option>
              <option value="Other">Other</option>
            </select>    
          </div>
          <div class="col-md-3">
            <input type="checkbox" name="checkbox1" class="checkbox" id="checkbox1" value="Independent Store">
            <label  for="checkbox1">Independent Store</label>

          </div>
          <div class="col-md-3">
            <input type="checkbox" name="checkbox2" class="checkbox" id="checkbox2" value="Local e-commerce site">
            <label  for="checkbox2">Local e-commerce site</label>

          </div>
          <div class="col-md-3">
            <input type="checkbox" name="checkbox3" class="checkbox" id="checkbox3" value="Local Franchise">
            <label  for="checkbox3">Local Franchise</label>
          </div>
          //- <div class="custom-control custom-radio col-md-3">
          //-     <input type="radio" class="custom-control-input" id="defaultGroupExample1"  value='Independent Store' name="custom_store_type1">
          //-     <label class="custom-control-label" for="defaultGroupExample1">Independent Store</label>
          //- </div>

          //- <!-- Group of default radios - option 2 -->
          //- <div class="custom-control custom-radio col-md-3">
          //-     <input type="radio" class="custom-control-input" id="defaultGroupExample2" value='Local e-commerce site' name="custom_store_type2" >
          //-     <label class="custom-control-label" for="defaultGroupExample2">Local e-commerce site</label>
          //- </div>

          //- <!-- Group of default radios - option 3 -->
          //- <div class="custom-control custom-radio col-md-3">
          //-     <input type="radio" class="custom-control-input" id="defaultGroupExample3" value='Local Franchise' name="custom_store_type3">
          //-     <label class="custom-control-label" for="defaultGroupExample3">Local Franchise</label>
          //- </div>
          
          each val in data        
            <div class="col-lg-6" data-src-industry="#{val.industry}" data-src-type="#{val.store_type}">
              
              <div class="row border">
                a(href=val.store_url, class="store_url") 
                <div class="col-md-4 ">
                  img(src=val.store_logo,class="store_logo", alt="")   
                </div>
                <div class="col-md-8 ">
            
                  <div class="">
                    <div class="col-icon">
                    <i class="fas fa-map-marker-alt"></i>
                    </div>
                    <div class="row-icon">
                      <div class="backwoods">
                        h3.omahah3= val.store_name
                       
                        p.omahap= val.country
                        p.omahap= val.store_description
                        <br>
                        <ul>
                          <li class="omahali">
                            a(href=val.store_url, class="store_url")= val.store_url
                          </li> 
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          //- <div class="col-lg-6">
          //-   <div class="row border">
          //-     <div class="col-lg-5 ">
          //-       <img src="/images/download.jpg", alt="" >
          //-     </div>
          //-     <div class="col-lg-5 ">
          
          //-       <div class="">
          //-         <div class="col-icon">
          //-         <i class="fas fa-map-marker-alt"></i>
          //-         </div>
          //-         <div class="row-icon">
          //-           <div class="backwoods">
          //-             <h3 class="omahah3">Backwoods-Omaha</h3>
          //-             <p class="omahap">55180</p>
          //-             <p class="omahap">Omaha,Nebraska 55180 ,United States</p>
          //-             <br>
          //-             <ul>
          //-               <li class="omahali"><a href="https://backwoodspaddlesports.com/">backwoodspaddlesports.com/</a></li> 
          //-             </ul>
          //-           </div>
          //-         </div>
          //-       </div>
          //-     </div>
          //-   </div>
          //- </div>
        </div>
      else
        <div class="row ">
        <p class="description">#{language.result_fail}</p>
        </div>
    </div>
  
