extends layout

block content
    <div class="container">
        <div class="row">
            <div  class="col-md-5">
                <div style="padding:  0px 20px;">
                    <h3 >#{language.heading}</h3>
                    <p>#{language.subHeading}</p>
                    <div style="margin-top: 50px;" class="menu">
                    <h5>#{language.action}</h5>
                    <div class="card" style="width: 18rem;">
                
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><a href="/"><i class="fas fa-home"></i>   #{language.button.Home}</li></a>
                            //- <li class="list-group-item"><a href="/admin/users"><i class="fas fa-user"></i> Experts Details</li></a>
                            //- <li class="list-group-item"><a href="/"><i class="fas fa-search"></i>  Search</li></a>
                           
                        </ul>
                    </div>
                    <div class="form-group" style="width: 18rem; margin-top: 30px; display:none">
                        <h5>View Options</h5>
                        <select id="inputState" class="form-control">
                            <option selected>View All</option>
                            <option>...</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div style="background: #f4f4f4;" class="col-md-7">
            <select class="custom-select language-select" name="Language" id="language" required>
                <option value="">Select Language</option>
                <option value="en">English</option>
                <option value="fr">French</option>
            </select> 
            <form method="post" action="/user/create" enctype="multipart/form-data" style="padding:  50px 20px;">
                <div class="form-row">
                    <div class="form-group col-md-12" style="display:none">
                        <label for="inputState">#{language.label.role}</label>
                        <input type="hidden" class="form-control"  name="role" value="store_expert" placeholder="#{language.label.role_option1}">
                        <input type="hidden" class="form-control"  name="access_state" id="access_state" >                              
                    </div>
                   
                    <div class="form-group col-md-12">
                        <label for="Company Name">#{language.label.first_name}</label>
                        
                        <input type="text" class="form-control" required name="first_name" id="inputname4" placeholder="#{language.label.first_name}">
                    </div>
                    <div class="form-group col-md-12">
                        <label for="name">#{language.label.last_name}</label>
    
                        <input type="text" class="form-control" required name="last_name" id="inputname4" placeholder="#{language.label.last_name}">
                    </div>
                     <div class="form-group col-md-12">
                        <label for="Company Name">#{language.label.company_name}</label>
                        <input type="text" class="form-control" required name="company_name" id="inputname4" placeholder="#{language.label.company_name}">
                    </div>
                    <div class="form-group col-md-12">
                        <label for="name">Website Url</label>
                        <input type="text" class="form-control" required name="url" id="store_url" placeholder="Web Url">
                        <span id="url-error" style="color:red; font-size:11px; display:none;"></span>
                    </div>
                    <div class="form-group col-md-12">
                        <label for="name">#{language.label.email}</label>                      
                        <input type="email" class="form-control" required name="email" id="inputname4" placeholder="#{language.label.email}">
                    </div>
                    
                    <div class="form-group col-md-12">
                        <label for="name">#{language.label.password}</label>
                        <input type="password" class="form-control" required name="password" id="inputname4" placeholder="#{language.label.password}">
                    </div>
                    
                    <div class="form-group col-md-12">
                        <label for="phone">#{language.label.phone}</label>
                        <input type="text" name="phone_number" placeholder="#{language.label.phone}" required class="form-control" >
                    </div>
                    <div class="form-group col-md-12">
                        <label for="inputAddress">#{language.label.address}</label>
                        <input type="text" class="form-control" id="inputAddress" required name="address1" placeholder="#{language.label.address}">
                    </div>
                    <div class="form-group col-md-12">
                        <label for="inputAddress2">#{language.label.address2}</label>
                        <input type="text" class="form-control" id="inputAddress2" name="address2" placeholder="#{language.label.address2}">
                    </div>
        
                    <div class="form-group col-md-12">
                        <label for="inputState">#{language.label.country}</label>
                        <select id="countries_list" name="country" required class="form-control">
                            <option value="">#{language.label.country_option}</option>
                            
                        </select>
                    </div>
                   
                    <div class="form-group col-md-12">
                        <label for="inputState">#{language.label.state}</label>
                        <input type="text" class="form-control" required name="state" placeholder="#{language.label.state}" id="states">
                    </div>
                    <div class="form-group col-md-12">
                        <label for="inputCity">#{language.label.city}</label>
                        <input type="text" class="form-control"  required name="city" placeholder="#{language.label.city}" id="inputCity">
                    </div>
                    
                
                    <div class="form-group col-md-12">
                        <label for="inputZip">#{language.label.postal}</label>
                        <input type="text" name="postal_code" placeholder="#{language.label.postal}" required class="form-control" id="inputZip">
                        
                    </div>
                    <div class="form-group col-md-12">
                        <label for="exampleFormControlFile1">#{language.label.photo}</label>
                        <input type="file" name="profile_picture" class="form-control-file" id="exampleFormControlFile1">
                    </div>
                    
                    <div class="form-group col-md-12">
                        <label for="phone">#{language.label.description}</label>
                        textarea(name="description", required, maxlength=570, cols="82", rows="10")
                        
                    </div>
                    
                    
                    

                    <div class="form-group col-md-12">
                        
                    </div>
                    <div class="form-group col-md-12">
                       <button class="form-control submit" type="submit">#{language.button.store_post_button}</button>
                    
                    </div>
                </div>
        
            </form>
        </div>
    </div>
