extends layout

block content
    <div class="container">
        <div class="row">
            <div  class="col-md-5">
                <div style="padding:  50px 20px;">
                    <h3 >#{language.heading}</h3>
                    <p>#{language.subHeading}</p>
                    <div style="margin-top: 50px;" class="menu">
                    <h5>#{language.action}</h5>
                    <div class="card" style="width: 18rem;">
                
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item button"><a href="/">  #{language.button.Home}</li></a>
                            <li class="list-group-item button"><a href="">  #{language.button.Create_Label_Action}</li></a>
                            <li class="list-group-item button"> <a href="/about"> #{language.button.About}</li></a>
                        </ul>
                    </div>
                    - var success = isSuccess
                    if(success)
                        <div class="form-group success" style="width: 18rem; margin-top: 30px; display:none">
                            <h5>View Options</h5>
                            <select id="inputState" class="form-control">
                                <option selected>View All</option>
                                <option>...</option>
                            </select>
                        </div>
                </div>
            </div>
        </div>
        <div style="background: #f4f4f4;" class="col-md-7">
            <select class="custom-select language-select" name="Language" id="language" required>
                <option value="">Select Language</option>
                <option value="en">English</option>
                <option value="fr">French</option>
            </select> 
            <form method="post" action="/store" enctype="multipart/form-data" style="padding:  50px 20px;">
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="name">#{language.label.first_name}</label>
                        
                        <input type="text" class="form-control" required name="first_name" id="inputname4" placeholder="#{language.placeholder.first_name}">
                    </div>
                    <div class="form-group col-md-12">
                        <label for="name">#{language.label.last_name}</label>
                        
                        <input type="text" class="form-control" required name="last_name" id="inputname4" placeholder="#{language.placeholder.last_name}">
                    </div>
                    <div class="form-group col-md-12">
                        <label for="name">#{language.label.email}</label>
                      
                        <input type="email" class="form-control" required name="email" id="inputname4" placeholder="#{language.placeholder.email}">
                    </div>
                    <div class="form-group col-md-12">
                        <label for="name">#{language.label.store_name}</label>
                        <input type="hidden" name="status" value="false">
                        <input type="text" class="form-control" required name="store_name" id="inputEmail4" placeholder="#{language.placeholder.store_name}">
                    </div>
                    <div class="form-group col-md-12">
                        <label for="name">#{language.label.store_url}</label>
                        <input type="text" class="form-control" required name="store_url" id="store_url" placeholder="#{language.label.store_url}">
                        <span id="url-error" style="color:red; font-size:11px; display:none;"></span>
                    </div>

                    <div class="form-group col-md-12">
                        <label for="inputAddress">#{language.label.address}</label>
                        <input type="text" class="form-control" id="inputAddress" required name="address1" placeholder="#{language.placeholder.address}">
                    </div>
                    <div class="form-group col-md-12">
                        <label for="inputAddress2">#{language.label.address2}</label>
                        <input type="text" class="form-control" id="inputAddress2" name="address2" placeholder="#{language.placeholder.address2}">
                    </div>
        
                    <div class="form-group col-md-12">
                        <label for="inputState">#{language.label.country}</label>
                        <select id="countries_list" name="country" required class="form-control">
                            <option value="">#{language.placeholder.country}</option>
                            
                        </select>
                    </div>
                   
                    <div class="form-group col-md-12">
                        <label for="inputState">#{language.label.state}</label>
                        <input type="text" class="form-control" required name="state" id="inputState">
                    </div>
                    <div class="form-group col-md-12">
                        <label for="inputCity">#{language.label.city}</label>
                        <input type="text" class="form-control"  requiredname="city" id="inputCity">
                    </div>
                    <div class="form-group col-md-12">
                        <label for="phone">#{language.label.phone}</label>
                        <input type="text" name="phone_number" required class="form-control" >
                    </div>
                   
                    <div class="form-group col-md-12">
                        <label for="inputZip" style="display:none;" id="postal_label_us">#{language.label.postal_ca}</label>
                        <label for="inputZip" id="postal_label">#{language.label.postal}</label>
                        <input type="text" name="postal_code" required class="form-control" id="inputZip">
                        <span class="help" id="postal_help"> #{language.placeholder.postal}</span>
                        <span class="help" style="display:none;" id="postal_help_us"> #{language.placeholder.postal_ca}</span>
                    </div>
                  
                    <div class="form-group col-md-12">
                        <label for="phone">#{language.label.description}</label>
                        textarea(name="store_description", required, maxlength=570, cols="82", rows="10")
                        
                    </div>
                    
                    <div class="form-group col-md-12">
                        <label for="exampleFormControlFile1">#{language.label.upload_image}</label>
                        <input type="file" name="store_logo" class="form-control-file" id="exampleFormControlFile1">
                    </div>
                    <div class="form-group col-md-12">
                        
                        <label for="inputZip">#{language.label.industry}</label>
                        <input type="text" name="industry" name="industry" required class="form-control" id="inputZip">

                    </div>
                    <label for="inputZip"> #{language.label.checkbox}:</label>
                   
                    <div class="custom-control custom-checkbox col-md-12">
                        <input type="checkbox" class="custom-control-input" value='#{language.checkbox1}' id="customChecks" name="example1">
                        <label class="custom-control-label"  for="customChecks">#{language.checkbox1}</label>
                    </div>
                    <br>
                    <div class="custom-control custom-checkbox col-md-12">
                        <input type="checkbox" class="custom-control-input" value='#{language.checkbox2}' id="customChecks1" name="example1">
                        <label class="custom-control-label" for="customChecks1">#{language.checkbox2}</label>
                    </div>
                    <br>
                    <div class="custom-control custom-checkbox col-md-12">
                        <input type="checkbox" class="custom-control-input" value='#{language.checkbox3}' id="customCheck2" name="example1">
                        <label class="custom-control-label" value='' for="customCheck2">#{language.checkbox3}</label>
                    </div>
                    <div class="form-group col-md-12">
                        
                    </div>
                    <div class="form-group col-md-12">
                       <button class="form-control submit" type="submit">#{language.button.store_post_button}</button>
                    
                    </div>
                </div>
        
            </form>
        </div>
    </div>
